/*Палітра кольорів*/

/*Колір заголовіків  #212121*/
/*Колір абзаців (другорядний)  #757575;*/
/*Коліп підсвітки другорядний (синій) #2196F3*/
/*Коліп білий #FFFFFF*/
/* Колір фону #E5E5E5*/
/* Колір фону (другорядний) #F5F4FA;*/

/*Загальна стилізація сторінки*/
body {
  background-color: #e5e5e5;
  color: #757575;
  font-family: Roboto, sans-serif;
}
:root {
  --main-black: #212121;
}
.list {
  list-style: none;
}

/* Стилізація хедера*/
.page-header {
  background-color: #ffffff;
}

/*Стилізвція лого*/
.header-logo {
  color: var(--main-black);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: #2196f3;
}

/*Стилізвція навігації*/
.site-nav .link {
  color: var(--main-black);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/*Стилізвція контактів в хедері (пошта, тел)*/
.contacts .mail-phone {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .mail-phone:hover,
.contacts .mail-phone:focus {
  color: #2196f3;
}

/*Стилізвція основної частини (Секцій)*/

/*Стилізвція Герой */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #ffffff;
  color: #2196f3;
}

/*Стилізвція секції Наши преимущества */
.advantages-title {
  color: var(--main-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.advantages-subject {
  color: var(--main-black);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

/*Стилізвція секції Чем мы занимаемся */
.activity-title {
  color: var(--main-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/*Стилізвція секції Наша команда */
.team {
  background: #f5f4fa;
}
.team-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-name {
  color: var(--main-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*Стилізвція Підвалу */
.page-footer {
  background: #2f303a;
}
.footer-logo {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.contact .address {
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
}

.contact .address:hover,
.contact .address:focus {
  color: #2196f3;
}

.contact .contact-content {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contact .contact-content:hover,
.contact .contact-content:focus {
  color: #2196f3;
}

/* Стилізація СТОРІНКИ ПОРТФОЛІО */

.page {
  background-color: #e5e5e5;
}

.button-list .button {
  background-color: #f5f4fa;
  color: var(--main-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button-list .button:hover,
.button-list .button:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.examples .example-title {
  color: var(--main-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples .example-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
