/*Палітра кольорів*/

/*Колір заголовіків  #212121*/
/*Колір абзаців (другорядний)  #757575;*/
/*Коліп підсвітки другорядний (синій) #2196F3*/
/*Коліп білий #FFFFFF*/
/* Колір фону #E5E5E5*/
/* Колір фону (другорядний) #F5F4FA;*/

/*Загальна стилізація сторінки*/
.page {
  background-color: #e5e5e5;
  color: #757575;
}

.list {
  list-style: none;
}

/*Стилізвція лого*/
.header-logo {
  color: #212121;
  text-decoration: none;
}

.logo-blue {
  color: #2196f3;
}

/*Стилізвція хедера (шапки навігації)*/
.site-nav .link {
  color: #212121;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.link.current {
  color: #2196f3;
}

/*Стилізвція контактів хедера (пошта, тел)*/
.contacts .mail-phone {
  color: #757575;
  text-decoration: none;
}

.contacts .mail-phone:hover,
.contacts .mail-phone:focus {
  color: #2196f3;
}

/*Стилізвція основної частини з секціями*/

/*Стилізвція Героя */
.hero-title {
  color: #ffffff;
}

/*Стилізвція Секцій */
.section-title {
  color: #212121;
}

.subject {
  color: #212121;
}

/*Стилізвція Контактів Футера */
.contact .address {
  color: #ffffff;
  text-decoration: none;
}

.contact .contact-content {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* Стилізація СТОРІНКИ ПОРТФОЛІО */
