/*Палітра кольорів*/

/*Колір заголовіків  #212121*/
/*Колір абзаців (другорядний)  #757575;*/
/*Коліп підсвітки другорядний (синій) #2196F3*/
/*Коліп білий #FFFFFF*/
/* Колір фону #E5E5E5*/
/* Колір фону (другорядний) #F5F4FA;*/

/*Загальна стилізація сторінки*/
.page {
  background-color: #e5e5e5;
  color: #757575;
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

/* Стилізація хедера*/
.page-header {
  background-color: #ffffff;
}

/*Стилізвція лого*/
.header-logo {
  color: #212121;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: #2196f3;
}

/*Стилізвція навігації*/
.site-nav .link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/*Стилізвція контактів в хедері (пошта, тел)*/
.contacts .mail-phone {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .mail-phone:hover,
.contacts .mail-phone:focus {
  color: #2196f3;
}

/*Стилізвція основної частини (Секцій)*/

/*Стилізвція Герой */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  background: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/*Стилізвція секції Наши преимущества */
.advantages-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.advantages-subject {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

/*Стилізвція секції Чем мы занимаемся */
.activity-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/*Стилізвція секції Наша команда */
.team {
  background: #f5f4fa;
}
.team-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*Стилізвція Підвалу */
.page-footer {
  background: #2f303a;
}
.footer-logo {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.contact .address {
  color: #ffffff;
  text-decoration: none;
}

.contact .contact-content {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* Стилізація СТОРІНКИ ПОРТФОЛІО */
